[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/lumenveil"]
	path = themes/lumenveil
	url = https://github.com/Hansen1018/hugo-theme-lumenveil.git
